/* The main stylesheet */

/* Overall look and feel */
* { 
  color: black; 
  font-family: 
    "Signika", 
    "Candara", 
	Helvetica, 
	sans-serif;
  background-color: #FFFFFF; 
}

/* Menu Navigation Bar */
.navbar-menu {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #9CD3A5; 
}

.menu-panel {
  background-color: #9CD3A5;
  list-style-type: none;
  margin-top: 40px;
  margin-left: 10px;
}

.menu-items { 
  font-family:
    "Signika", 
    "Candara", 
	Helvetica, 
	sans-serif;
  color: #717070;
  background-color: #9CD3A5;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  text-decoration: normal;
}

.menu-items:hover {
    list-style-type: square;
}

.menu-item-link {
  color: #717070;
  background-color: #9CD3A5;
  text-decoration: normal;
}

.menu-item-link:hover {
  text-decoration: underline;
}

.content-page { 
  position: absolute;
  background-color: white;
  padding-left: 7px;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 0;
}

/* Main Page */
.fssubheader {
  text-decoration: underline;
}

.day-week-top-mon {
  padding-right: 120px;
  margin-right: 10px;
}

.day-week-top-tue {
  padding-right: 120px;
  margin-right: 10px;
}

.day-week-top-wed {
  padding-right: 95px;
  padding-left: 3px;
  margin-right: 10px;
}

.day-week-top-thu {
  padding-right: 117px;
  margin-right: 10px;
}

.day-week-top-fri {
  padding-right: 100px;
  margin-right: 10px;
}

.day-week-mid {
  margin-left: 0px;
  margin-right: 175px;
}

.day-week-bot {
	margin-left: 0px;
	margin-right: 10px;
}

/* Make headers prominant */
legend.fsheader {
  font-weight: bold;
}

/* Align the labels of text boxes */
label.align-student {
  display: inline-block;
  width: 95px;
}

label.align-contact {
  display: inline-block;
  width: 160px;
}

/* Error message */
span.error { 
  color: #E60000;
  font-weight: bold;
  background-color: #000000;
}

.school-start {
  right: 20%;
}